p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : white
}
h1 {
    color: antiquewhite;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: teal;
}
body{
    background-image: url(Pizza.avif);
    background-repeat: repeat-y;
}
#Opacity {
    background-color: aquamarine;
    opacity: 0.5;
}